
* {
  box-sizing: border-box;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: #014049;
  margin:0px;
}

img {
  border-radius: 15px;
}

.name {
  margin: 0;
}

h1,h2 {
  color: #2a9d8f; 
  margin-top: 20px;
  padding-left: 32px;
  text-align:center;
  font-size: 24px;
}

h2 a {
  color: #2a9d8f;
}

h2 a:hover {
  color:#e76f51;
}

ul {
  list-style: none;
  text-align: center;
}

.button {
  margin-left: -2.4rem;
  margin-right: 0rem;
  margin-top:10px;
  padding:10px;
}

.nav a {
  color: #e9c46a;
}

.nav a:hover {
  color: #e76f51;
}


a {
  text-decoration: none;
  color: black;
}


section {
  display:block;
  padding-bottom: 10px;
}


.nav,
.profile-photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 80%;
}


p {
  text-align: center;
  color: #9de2d0; 
}


/*portfolio*/

#portfolio {
  padding: 20px;
}

.portfolio-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:96%;
}

p {
  font-size: 20px;
  display:block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 80%;
}

/*Skills*/

.skills {
  margin-top: 0;
  padding-top: 8px;
}

.languages li {
  color:#f4a261; 
  padding: 10px;
  margin: 10px;
  font-size: 20px;
}

.clearfix {
  overflow: auto;
}



/*footer*/

.backtotop{
  display:inline-block;
  padding-right: 10px;
  max-width: 50%;
}

.backtotop a {  
  color: #2a9d8f;
}

.backtotop a:hover {  
  color: #e76f51;
}

.bottom-nav {
  display:none;
}



/*for Tablet*/

/***tablet navigation menu****/

@media (min-width: 768px) {

li {
  display: inline-block;
  margin: auto;
}

li a {
  display: inline-block;
  margin: auto;
  font-size: 20px;
  color: #2a9d8f;
}

.button {
  margin:10px;
  padding:10px;
}

/**intro two columns **/

.wrapper {
  display: flex;
  flex-direction: row-reverse;
}

.wrapper > div {
  flex: 1;
}

/**portofolio two colums**/


.project {
  float:right;
  max-width: 50%;
  display:inline-block;
}

/**bottom navigation bar**/

.backtotop {
  display:none;
}

.bottom-nav {
  float:right;
  display:inline-block;
}

.bottom-nav li {
  padding:10px;
}

.bottom-nav li a {
  color: #2a9d8f;
}

.bottom-nav li a:hover {
  color: #e76f51;
}


/*for Desktop*/
@media (min-width: 1024px){

  .name {
    float:left;
  }


.nav {
  margin:auto;
  float:right;
  width: 46%;
  }

.button {
  padding:10px;
  float:left;
}

  .project {
    float:right;
    margin:auto;
    max-width: 33.3%;
  }

}
